@import "tailwindcss";
@plugin "daisyui";
:root {
  --primary-color: #10a5b1;
  --scound-color: #3d4d58;
}
body {
  width: 100%;
  overflow-x: hidden;
}

.bg-gradient {
  background: linear-gradient(
    90deg,
    var(--primary-color) 0%,
    var(--scound-color) 100%
  );
}
.bg-gradient-dark {
  background: linear-gradient(
    90deg,
    var(--primary-color) 100%,
    var(--scound-color) 0%
  );
}
